venv/*
static_media/*
*.pyc
*.swp
.vscode/*
db.sqlite3
.coverage

.DS_STORE
node_modules
*~
.grunt
_SpecRunner.html
__benchmarks__
coverage/
.module-cache
*.log*
*.swp
*.swo


./react_frontend/build/
package-lock.json