

gunicorn
uvicorn
django
djangorestframework
whitenoise
# psycopg2
dj-database-url
dj-redis-url
ipython
django-money
channels
django-redis
channels_redis

# testing 
coverage
django-nose

# heroku
honcho
